$clr-error: rgb(218, 0, 0);
$clr-background: rgb(255, 246, 234);
$clr-form-bg: rgb(27, 35, 65);
$clr-cta: rgb(255, 150, 83);
$clr-white-text: rgb(245, 230, 230);
$clr-form-input-text: rgb(87, 64, 64);
